
body{
  background-color: turquoise;
  margin: auto;
  width: 95%; 
}

h1 {
  font-size: 7vw;
  font-weight: 600;
  text-decoration:underline;
  text-align: center;
}

h2{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

ul{
  list-style-type: disc;
}

ol{
  list-style-type: numbers;
}

#selfiePic{
  height: 600px;
  border-radius: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed red;
}


footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}